$main: #39c2b5;
$white: #ffffff;
@mixin lobster () {
    font-family: 'Lobster', cursive;
}
@mixin bebas () {
    font-family: 'Bebas Neue', cursive;
}
@mixin open-sans () {
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1025px;
}

// =====HEADER=====

.header {
    &-top {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &-logo {
        @include lobster();
        font-size: 49px;
        color: $main;
        padding-left: 20px;
    }
    .search {
        display: flex;
        align-items: center;
        
        &-button {
            width: 30px;
            margin-left: -30px;
            background: rgba(0,0,0,0);
            border: none;
        }
        &-icon {
            display: inline-block;
        }
        
        &-field {
            width: 437px;
            height: 30px;
            border: 1px solid #e1e1e1;
        }
    }
    .basket {
        display: flex;
        align-items: flex-end;
        padding-right: 20px;
        &-value {
            display: block;
            @include bebas();
            font-size: 33px;
            color: #a1a1a1;
            line-height: 0.9;
            margin-left: 1rem;
        }
    }
    

    .navigation {
        background: $main;
        @include bebas();
        .dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $white;
            cursor: pointer;
            max-height: 0px;
            overflow: hidden;
            &-heading {
                font-size: 21px;
                color: $white;
                line-height: 1;
            }
        }
        .nav {
            display: flex;
            list-style: none;
            display: flex;
            align-items: center;           
            &-item {
                padding: 0 22px;
                margin: 8px 0;
                box-shadow: 3px 0 0 $white;
                text-align: center;
                &:last-child {
                    box-shadow: none;
                }
            }
            &-link {
                font-size: 21px;
                color: $white;
                line-height: 1;
            }           
        }          
    }
}

// =====SHOWCASE=====

.showcase {
    background: $main;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.08);
    .product {
        display: flex;
        height: 445px;
        position: relative;
        &-img {
            display: flex;
            flex-grow: 0.95;
            align-items: center;
            justify-content: center;
        }
        &-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
        }
        &-heading {
            @include bebas();
            font-size: 61px;
            color: $white;
            line-height: 1;
            margin-bottom: 15px;
            width: 385px;
        }
        &-text {
            @include open-sans();
            font-size: 17px;
            color: $white;
            margin-bottom: 30px;
            width: 385px;
        }
        &-button {
            display: inline-block;
            @include bebas();
            font-size: 27px;
            line-height: 1;
            color: $white;
            border: 3px solid $white;
            border-radius: 7px;
            padding: 10px 24px;
            align-self: flex-start;
        }        
    }
    .controls {
        position: absolute;
        bottom: 34px;
        left: 50%;
        transform: translateX(-50%);
        &-list {
            list-style: none;
            display: flex;
        }
        &-item {
            background: $white;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            margin-right: 10px;
        }
        .active {
            background: rgba(255, 255, 255, 0.51);
        }             
    }
}

// =====CAROUSEL======

.carousel {
    position: relative;
    height: 190px;

    .arrow-left {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .arrow-right {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .container {
        height: 100%;
    }   
    &-inner {
        display: flex;
        height: 100%;
    }
    &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        &:not(:last-child) {
            border-right: 1px solid #e7e7e7;
        }
    }
    &-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    &-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .box-heading {
            margin-bottom: 20px;
            width: 120px;
            text-align: left;
        }
    } 
}

.box-button {
    display: inline-block;
    @include bebas();
    font-size: 20px;
    line-height: 1;
    color: $white;
    background: #3cc395;
    border-radius: 2px;
    padding: 10px;

    &::before {
        content: '';
    margin-top: -2px;
    height: 0;
    width: 0;
    display: block;
    }
    &::after{
        content: '';
    margin-bottom: -4px;
    height: 0;
    width: 0;
    display: block;
    }
}

.box-heading, .box-price {
    @include bebas();
    font-size: 27px;
    line-height: 1;
    color: #afafaf;
    text-align: center;
    &::before {
       content: '';
    margin-top: -2px;
    height: 0;
    width: 0;
    display: block; 
    }
    &::after {
       content: '';
    margin-top: -4px;
    height: 0;
    width: 0;
    display: block; 
    }
}

// =====FEATURED======

.featured-heading {   
    background: $main;      
    .text {
        @include bebas();
        font-size: 31px;
        color: $white;
        line-height: 1;
        padding: 23px 0px 23px 54px;
        &::before {
            content: '';
            margin-top: -2px;
            height: 0;
            width: 0;
            display: block;
        }
        &::after {
            content: '';
        margin-bottom: -7px;
        height: 0;
        width: 0;
        display: block;
        }
    }
}

// =====FEATURED CARDS=====

.fetured-cards {
    padding-bottom: 25px;
    .box-row {
        display: flex;
        justify-content: space-between;
        padding: 48px 63px 0px 63px;
        flex-wrap: wrap;
        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 253px;

            box-shadow: 0 0 3px rgba(0, 0, 0, 0.16), inset 0 -5px 0 #3cc395;
            height: 257px;
            padding: 20px 0px 35px 0px;
            margin-bottom: 47px;
            .bottom {
                .price {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    .box-price {
                        margin-right: 15px;
                    }
                }  
            }
        }
    }
}

// =====FOOTER=====

.footer {
    background: $main;
    .container {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        margin-bottom: 35px;
    }
    &-nav {
        &-heading {
            display: inline-block;
            @include bebas();
            font-size: 27px;
            color: $white;
            line-height: 1;
            margin-bottom: 20px;
        }
        &-list {
            list-style: none;
            padding-left: 3px;
        }  
        &-link {
            @include open-sans();
            font-size: 15px;
            color: $white;
            line-height: 28px; 
        }
        
    }
    .copyright {
        background: rgba(0, 0, 0, 0.1);
        @include open-sans();
        font-size: 15px;
        color: $white;
        line-height: 1;
        text-align: center;
        padding: 15px 0px;
    }

}

// =====MEDIA=====  
@media (max-width: 992px) {   
    .container {
        max-width: 970px;
    }
    .header {
        &-top {
            justify-content: space-around;
        }
        .navigation {
            .dropdown {
                padding: 5px 0px;
                max-height: 100px;
            }
            .nav {
                max-height: 0px;
                overflow: hidden;
            }
        }
    }
    .carousel {
        display: none;
    }

    .fetured-cards {
        padding-top: 40px;
        padding-bottom: 0px;
        .box-row {
            justify-content: space-around;
            padding: 0px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 750px;
    }
    .header {
        &-top {
            justify-content: space-around;
        }  
        .search {
            &-field {
                width: 100%;
            }
        }
        

    
    }
    .showcase {
        .product {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-img {
                flex-grow: 0;
            }
            &-description {
                flex-grow: 0;
                position: absolute;
                bottom: 60px;
                left: 30px;
                width: auto;
            }
            &-heading {
                font-size: 25px;
                width: auto;
            }
            &-text {
                display: none;
            }
        }
    }

    .footer {
        .container {
            flex-direction: column;
        }
        &-nav {
            text-align: center;
            &-heading {
                margin-bottom: 10px;
            }
            &-list {
                max-height: 0px;
                overflow: hidden;
                margin-bottom: 10px;
                box-shadow: inset 0px 1px 3px rgba(0,0,0,0.08);
            }
        }
        .footer-nav:nth-child(2) {
            .footer-nav-list {
                max-height: 100%;
            }
        }
        

    }

}
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    
}
